/**************************/
/* CTA SECTION */
/**************************/
.section-cta {
  padding: 8rem;
}

.cta {
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  background-color: #58adc9;
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.cta .heading-secondary {
  color: #fff;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.cta-text {
  color: #fff;
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: url("../../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
  color: #fff;
}

.cta-form input,
.cta-form select,
.cta-form button {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.btn-form {
  font-weight: 700;
  cursor: pointer;
  background: #118ab2;
  color: white;
  margin-top: 2.7rem;
  transition: all 150ms ease-in;
}
